.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
dl, ol, ul {
  /* color: rgb(0, 0, 0); */
  margin-right: auto;
  margin-block-end: 121px;
  margin-top: 0;
  margin-bottom: 1rem;
}
 
/* .mb-3 {
  opacity: 50%;
} */
button {
  /* background-color: rgba(0, 195, 255, 0.836); */
  margin: 3px;
}
.more {
  display: flex;
  margin: 2px;
}
label {
  margin-right: 18px;
  /* display: inline-block; */
  /* margin: 2px; */
}
#navbarSupportedContent ul{
  display: flex;
  list-style-type:none;
  /* text-decoration: none; */
}
.nav-link{
  margin-right: 50px;
  margin-top: 2px;
 /* text-decoration: none; */
}